extends layout

block customCss
    style(amp-custom)
        include ../generated/optimized_css/apage.css

block customAMPExt
    script(async,custom-element="amp-form",src="https://cdn.ampproject.org/v0/amp-form-0.1.js")

block main
    form(action="/app/", target="_top")
        select(id="name",name="name")
            option White Shorts
            option Blue Shorts
        select(id="size",name="size")
            option 36/36
            option 35/35
            option 36/34
        input(type="submit")