header
    a(on="tap:sidebar.toggle")
        include ../node_modules/@mdi/svg/svg/menu.svg
    span.title AMP-PWA Demo
    include ../node_modules/@mdi/svg/svg/account.svg
amp-sidebar(id="sidebar",layout="nodisplay",side="left")
    div.sidebar-header
        h6 Application
        span subtext
    nav
        ul 
            li
                a(href="/")
                    include ../inline-data/svg/baseline-home-24px.svg
                    div Startseite
            li 
                a(href="/apage.html") 
                    include ../inline-data/svg/baseline-question_answer-24px.svg
                    div FAQ
