header
    a(on="tap:sidebar.toggle")
        include:removeXmlDocType ../node_modules/@mdi/svg/svg/menu.svg
    span.title AMP-PWA Demo
    
    include:removeXmlDocType ../node_modules/@mdi/svg/svg/account.svg
amp-sidebar(id="sidebar",layout="nodisplay",side="left")
    div.sidebar-header
        h6 Application
        span subtext
    nav
        ul 
            li
                a(href="/")
                    include:removeXmlDocType ../inline-data/svg/baseline-home-24px.svg
                    div Startseite
            li 
                a(href="/somedir/a-static-page.html") 
                    include:removeXmlDocType ../inline-data/svg/baseline-question_answer-24px.svg
                    div FAQ
            li 
                a(href="/app/") 
                    include:removeXmlDocType ../inline-data/svg/baseline-security-24px.svg
                    div App
